{% extends "base.html" %}
{% block start %}
<h1 class="text-center"> Welcome to Awesome Recipes </h1>
<div class="container mt-5">
    <form class="col-6 mx-auto p-3 shadow-lg card" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center"><em>Add a new Recipe</em></h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><b>Recipe Name</b></label>
          <input type="text" class="form-control" name="recipe_name" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"><b>Recipe Description</b></label>
          <textarea class="form-control" name="recipe_desc" required></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"><b>Recipe Image</b></label>
          <input type="file" class="form-control" name="recipe_image" required>
        </div>
        <button type="submit" class="btn btn-primary" onclick="showmsg()"><b>Add</b></button>
      </form>

      <br><hr>

      <div class="mt-5">
        <div class="mx-auto col-6">
          <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><b><em>Search a Food item</em></b></label>
            <input type="text" class="form-control" name="search">
            <br>
            <button type="submit" class="btn btn-dark">Search</button>
          </div>
          </form>
        </div>
      </div>
      <h2 class="text-center">List of Food Recipes</h2>
      <table class="table table-bordered border-dark mt-3">
        <thead>
          <tr>
            <th scope="col">S.no </th>
            <th scope="col">Recipe Name </th>
            <th scope="col">Description </th>
            <th scope="col">Image </th>
            <th scope="col">Actions </th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes %}
          <tr>
            <th>{{forloop.counter}}</th>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.recipe_desc}}</td>
            <td>
              <img src="/media/{{recipe.recipe_image}}" style="height:100px; width:100px"></img>
            </td>
            <td>
              <a href="/delete-recipe/{{recipe.id}}/" class="btn btn-danger">Delete</a>
              <br>
              <a href="/update-recipe/{{recipe.id}}/" class="btn btn-info mt-2">Update</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/" class="btn btn-secondary mb-5">Go Back to Home</a>

</div>
<script>
    function showmsg(){
        alert("Recipe Added Successfully !!!!");
    }
</script>
{% endblock %}