{% extends "base.html" %}
{% block start %}

<style>
    .required-field::before {
        content: "*";
        color: red;
        float: right;
    }
</style>
<div class="container mt-5">
    <form class="col-6 mx-auto p-3 shadow-lg card" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">Sign Up / Register</h2>
        <hr>
            <div class="mb-3">
              <label class="form-label required-field"><b>Full Name</b></label>
              <input required type="text" class="form-control" placeholder="Write your Full Name">
            </div>
            <div class="mb-3">
              <label class="form-label required-field"><b>Username</b></label>
              <input required type="text" class="form-control" placeholder="create a @username">
            </div>
            
            <div class="mb-3">
              <label class="form-label required-field"><b>Password (6 or more characters)</b></label>
              <input required type="password" class="form-control" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-outline-primary"><b>Sign Up</b></button>
            <div class="mt-2">
                <hr class="text-muted"/>
                <h5 class="text-muted text-center">OR</h5>
                <hr class="text-muted"/>
            </div>
            <div class="text-center"><b>Already have an account ? <a href="/login/"> Log In </a></b></div>
      </form>


</div>
{% endblock %}